body {
	background-color: #000;
	color: #666;
 	font-family: Encode Sans Semi Expanded, sans-serif
}

h1 {
	font-weight: 700;
	font-size: 5em;
	margin-bottom: 50px;
}
p.intro {
	font-weight: 700;
	color: #999;
}
.intro {
	margin: 18% 0 50px;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
}
.intro-text p {
	font-size: 2rem;
}
#name {
	font-size: 1.1em;
	color: black;
	text-shadow: 2px 5px 10px #4527A0, -2px -5px 5px #4527A0;
}
#name:hover {
	animation-name: name-rainbow;
	animation-duration: 6.4s;
	animation-iteration-count: infinite;
}
@keyframes name-rainbow {
	0% {text-shadow: 2px 5px 10px #4527A0,-2px -5px 5px #4527A0}
	25% {text-shadow: 2px 5px 10px red, -2px -5px 5px red}
	50% {text-shadow: 2px 5px 10px yellow, -2px -5px 5px yellow}
	75% {text-shadow: 2px 5px 10px green, -2px -5px 5px green}
	100% {text-shadow: 2px 5px 10px #4527A0, -2px -5px 5px #4527A0}
}

.links img{
	/*background-color: #666;*/
	display: block;
	margin: auto;
	align-items: center;
	opacity: 0.5;
}
.container-fluid {
	background-color: #7E57C2;
	height: auto;
	padding: 10px;
	box-shadow: 0 10px 20px #311B92 inset;
	overflow: hidden;
}
#spotify-link, #github-link {
	border-radius:100px;
	margin-top: 10px;
}
.links img:hover {
	animation-name: fill-color;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
@keyframes fill-color {
	100% {
		opacity: 1;
		box-shadow: 0 10px 20px #311B92;
		transform: scale(1.1);
	}
}
@media(max-width: 576px){
	.links img {
		opacity: 1;
		box-shadow: 0 10px 20px #311B92;
	}
}