body {
	background-color: #000;
	color: #666;
 	font-family: Encode Sans Semi Expanded, sans-serif
}

h1 {
	font-weight: 700;
	font-size: 5em;
	margin-bottom: 50px;
	user-select: none;
}
p.intro {
	font-weight: 700;
	color: #999;
}
.intro {
	margin: 18% 0 50px;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
}
.intro-text p {
	font-size: 2rem;
	user-select: none;
}
#name {
	font-size: 1.1em;
	color: black;
	text-shadow: 0 5px 30px #7E57C2, 0 -5px 30px #7E57C2;
}


.links img{
	/*background-color: #666;*/
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
    margin-right: auto;
	align-items: center;
	opacity: 0.8;
}
.container-fluid {
	background-color: #7E57C2;
	padding: 10px;
	box-shadow: 0 10px 20px #311B92 inset, 0px 10px 60px #7E57C2 ;
	overflow: hidden;
	max-height: 3px;
	transition: max-height 4s ease-in-out;
}
.container-fluid:hover {
	max-height: 500px;
	transition: max-height 4s ease;
}

#spotify-link, #github-link {
	border-radius:100px;
	margin-top: 20px;
}

.links img:hover {
	animation-name: link-hover;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.39,0,.39,1.27);
}
@keyframes link-hover {
	100% {
		opacity: 1;
		box-shadow: 0 10px 20px #311B92;
		transform: scale(1.1);
	}
}

@media(min-width: 577px) {
	.container-fluid {
		max-height: 3px;
		transition: max-height 4s ease-in-out;
	}
	.container-fluid:hover {
		max-height: 500px;
		transition: max-height 4s ease;
	}
	#name {
		animation-name: reverse-glow;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
	@keyframes reverse-glow {
		0% {text-shadow: 0px 15px 1660px blue, 0px -15px 2000px blue;
			color: white;}
		100% { text-shadow: 0 5px 30px #7E57C2, 0 -5px 30px #7E57C2; }
	}
	#name:hover {
		animation-name: glow;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
	@keyframes glow {
		100% {text-shadow: 0px 15px 1660px blue, 0px -15px 2000px blue;
				color: white;}
	}
}
@media(max-width: 576px){
	h1 {
		font-size: 3.5em;
	}
	.links img {
		opacity: 1;
		box-shadow: 0 10px 20px #311B92;
	}
	.container-fluid {
		height: auto;
		padding: 10px;
	}
}